<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="bdConnectionString" connectionString="Data Source=DESKTOP-H2QPSJ9\SQLEXPRESS;Initial Catalog=CityTransport;User ID=guest;Password=123;" />
	</connectionStrings>
</configuration>